<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.png">

    <title>{% block title %}{% end %} - LetsDoThin.gs</title>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/letsdothin.gs.css" rel="stylesheet">
    {% block head %}{% end %}
</head>

<body id="index">
    <div class='container container-additives'>
        {% module menu() %}
        {% block content %}{% end %}
    </div><!-- /.container -->
</body>

</html>
