<div class='div-event'>
	<h3>{{ event.name }}</h3>
	<div class='div-event-row'>
		<span class="glyphicon glyphicon-time" style='float:left'></span>
		<span style='float:right'>{{ event.get_time_string() }}</span>
	</div>
	<div class='div-event-row'>
		<span class="glyphicon glyphicon-map-marker" style='float:left'></span>
		<span style='float:right'>{{ event.location }}</span>
	</div>
	<div class='div-event-row no-top-margin'>
		<span style='float:right'>{{ event.get_address_first_line() }}</span>
	</div>
	<div class='div-event-row no-top-margin'>
		<span style='float:right'>{{ event.get_address_second_line() }}</span>
	</div>
	<div class='div-event-row event-footer'>
		<div class='col-md-3'>
			<span class="glyphicon glyphicon-thumbs-up"></span>	
		</div>
		<div class='col-md-3'>
			<span class="glyphicon glyphicon-thumbs-down"></span>	
		</div>
		<div class='col-md-3'>
			<span class="glyphicon glyphicon-info-sign"></span>	
		</div>
		<div class='col-md-3'>
			<span class="glyphicon glyphicon-upload"></span>	
		</div>
	</div>
</div>