<div class='col-md-4 col-container'>
	<div id='event_{{ event.fb_id }}' class='div-event'>
		<h3 class='h3-event-title hover-blue' eventid='{{ event.fb_id }}'>{{ event.name }}</h3>
		<span class='span-event-time hover-blue'>
			<div class='div-event-row'>
				<span class="glyphicon glyphicon-time" style='float:left'></span>
				<span style='float:right'>{{ event.get_time_string() }}</span>
			</div>
		</span>
		<span class='span-event-location hover-blue'>
			<div class='div-event-row'>
				<span class="glyphicon glyphicon-map-marker" style='float:left'></span>
				<span style='float:right'>{{ event.get_venue_name_abbrev(27) }}</span>
			</div>
			<div class='div-event-row no-top-margin'>
				<span style='float:right'>{{ event.get_address_first_line_abbrev(27) }}</span>
			</div>
			<div class='div-event-row no-top-margin'>
				<span style='float:right'>{{ event.get_address_second_line() }}</span>
			</div>
		</span>
		<div class='div-event-row event-footer'>
			<div id='upvote-{{ event.fb_id }}' class='col-md-4 upvote hover-blue'>
				<span class="glyphicon glyphicon-thumbs-up"></span>	
			</div>
			<div id='downvote-{{ event.fb_id }}' class='col-md-4 downvote hover-blue'>
				<span class="glyphicon glyphicon-thumbs-down"></span>	
			</div>
			<div id='promote-{{ event.fb_id }}' class='col-md-4 event-promote hover-blue'>
				<span class="glyphicon glyphicon-upload"></span>	
			</div>
		</div>
	</div>
</div>