<div class='col-md-4 col-container'>
	<div id='event_{{ event.fb_id }}' class='div-event'>
		<h3>{{ event.name }}</h3>
		<span class='span-event-time'>
			<div class='div-event-row'>
				<span class="glyphicon glyphicon-time" style='float:left'></span>
				<span style='float:right'>{{ event.get_time_string() }}</span>
			</div>
		</span>
		<span class='span-event-location'>
			<div class='div-event-row'>
				<span class="glyphicon glyphicon-map-marker" style='float:left'></span>
				<span style='float:right'>{{ event.get_venue_name() }}</span>
			</div>
			<div class='div-event-row no-top-margin'>
				<span style='float:right'>{{ event.get_address_first_line() }}</span>
			</div>
			<div class='div-event-row no-top-margin'>
				<span style='float:right'>{{ event.get_address_second_line() }}</span>
			</div>
		</span>
		<div class='div-event-row event-footer'>
			<div id='upvote-{{ event.fb_id }}' class='col-md-3 upvote'>
				<span class="glyphicon glyphicon-thumbs-up"></span>	
			</div>
			<div id='downvote-{{ event.fb_id }}' class='col-md-3 downvote'>
				<span class="glyphicon glyphicon-thumbs-down"></span>	
			</div>
			<div id='info-{{ event.fb_id }}' class='col-md-3 event-info'>
				<span class="glyphicon glyphicon-info-sign"></span>	
			</div>
			<div id='promote-{{ event.fb_id }}' class='col-md-3 event-promote'>
				<span class="glyphicon glyphicon-upload"></span>	
			</div>
		</div>
	</div>
</div>